header{
    background-color: #1d252ce8;
    height: 80px;
    width: 100%;
}
header h1{
    font-family: montserrat;
    color: white;
    font-size: 36px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
}
section{
    background: #394045;
    color: antiquewhite;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h4{
    border-bottom: 2px solid black;
    width: 100%;
  }
  
  li{
    margin-left: 30px;
  }
  .work, .education , .achivements , .skills{
    margin-left: 100px;
  }
  .skills{
    margin-bottom: 100px;
  }